/* CSS Imports */
@import "standard.css";
@import "windescreen.css";
@import "utilities.css";
/* Google Fonts */
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif, "Roboto";
  color: #2f4f4f;
  background: #fffdd0;
  text-decoration: none;
  box-sizing: border-box;
  line-height: 2rem;
}

/* Global Hover Effect*/
a:hover {
  color: #ff7f50;
}

a:hover i {
  color: #ff7f50;
}

/* Navigation Style */
#main-nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
  text-align: center;
  height: 2rem;
  width: 100%;
  border-bottom: 1px dotted black;
  background: #fff39a;
}

.nav-item {
  background: #fff39a;
}

.nav-item a {
  background: #fff39a;
}

/* Primary Content Styling */
#intro {
  display: grid;
  grid-template-areas:
    "hero"
    "hd"
    "h1r"
    "pbr"
    "h1l"
    "pbl";
  grid-gap: 1rem;
  justify-items: center;
}

.hero-img {
  grid-area: hero;
  height: 50vh;
  border-radius: 15rem;
  background: #fffdd0;
}

.intro-h1 {
  grid-area: hd;
}

.prev-blog {
  grid-area: h1l;
}
.prev-blog-text {
  grid-area: pbl;
}
.recent-blog {
  grid-area: h1r;
}
.recent-blog-text {
  grid-area: pbr;
}

/* Blog Post Home Page Styling */
#blog-main-content {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-areas:
    "h1t"
    "intro"
    "recent"
    "previous"
    "more";
  grid-gap: 1rem;
}

.blog-main {
  grid-area: h1t;
}
.blog-intro-context {
  grid-area: intro;
}

.post-card {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-areas:
    "auth"
    "auth-img"
    "blog-head"
    "blog-text";
  border: solid 1px #2f4f4f;
}

.card-author {
  grid-area: auth;
}
.author-img {
  grid-area: auth-img;
  max-height: 30vh;
  border-radius: 6rem;
}
.blog-heading {
  grid-area: blog-head;
}
.blog-post-internal {
  grid-area: blog-text;
}

/* Blog Post Layout */
#blog-post {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-areas:
    "hero hero hero"
    "h1t h1t h1t"
    "p1t p1t p1t"
    "h2b h2b h2b"
    "p1b p1b p1b";
}

.hero-img {
  grid-area: hero;
}

.blog-head {
  grid-area: h1t;
}

.blog-content-text {
  grid-area: p1t;
}

.blog-head-second {
  grid-area: h2b;
}

.blog-content-text-2 {
  grid-area: p1b;
}

#author-bio {
  display: grid;
  justify-content: center;
  justify-items: center;
}

/* Author Bio Layout */
#author-bio {
  margin: 2rem 0 2rem 0;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 1rem;
  grid-template-areas:
    "ava title"
    "ava company"
    "ava bio";
}

.avatar {
  grid-area: ava;
  height: 10vh;
}

.author-title {
  grid-area: title;
  height: 3vh;
}

.author-company {
  grid-area: company;
  height: 3vh;
}

.author-bio {
  grid-area: bio;
  height: 3vh;
  margin-bottom: 1rem;
}

/* Cotact Us Page Styling */
#contact {
  display: grid;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 100%;
}

.contact-form {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-gap: 0.25rem;
  margin-bottom: 1rem;
}

#thank-you {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 1rem;
}

.thank-you-head {
  border-right: #000 1px solid;
}

.thank-you-text {
  padding-left: 1rem;
}

/* Footer Style */
#main-footer {
  display: flex;
  list-style: none;
  justify-content: space-around;
  height: 2rem;
  width: 100%;
  position: bottom;
  border-top: 1px dotted black;
  background: #fff39a;
}

.footer-item {
  background: #fff39a;
}

.footer-item i {
  background: #fff39a;
}
